<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creators Information</title>
</head>
<body>
    <p>Username: <i>{{ creators.username }} </i></p>
    <p>Platforms: <i>{{ creators.platforms }}</i></p>
    <p>Subscriptions: <i>{{ creators.subscriptions }} </i></p>
    <p>
        <a href="{% url 'ListCreators' %}">Go Back</a>
    </p>
</body>
</html>