<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Game On!</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'App1/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                {% if not user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'Register' %}">Register</a>
                <a class="navbar-brand" href="{% url 'Login' %}">Login</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'Logout' %}">Logout</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Community' %}">Store</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">About</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'editUser' %}">My Profile</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            {% if not user.is_authenticated %}
                            <h1 class="display-5 fw-bolder text-white mb-2">Be part of the greatest gaming community</h1>
                            <p class="lead text-white-50 mb-4">Join gamers around the world, make friends and have fun together with your favourite games!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            </div>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <h1 class="display-5 fw-bolder text-white mb-2">Welcome {{user.username}} !</h1>
                            <p class="lead text-white-50 mb-4">It's game time! Check our latest news and sales</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            </div>
                                {% with first_image=user.avatar_set.first %} 
                                    {% if first_image %} 
                                        <a href="{{ first_image.image.url }}" target="_blank">
                                        <img src="{{ first_image.image.url }}" height="100px"></a>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block Content %}

        {% endblock %}
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Users</h2>
                        <p>Look for your friends or other gamers near you or around the world to have fun together</p>
                        <a class="text-decoration-none" href="{% url 'Users' %}">
                            Make some friends
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Games</h2>
                        <p>Search for your favourite games and it's community, or look for new recommended or popular ones</p>
                        <a class="text-decoration-none" href="{% url 'Games' %}">
                            See our games
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Creators</h2>
                        <p>Watch and join your favourite content creators, or become one yourself</p>
                        <a class="text-decoration-none" href="{% url 'Creators' %}">
                            Meet the creators
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {% block Content_2 %}

        {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; GameOn Entertainments 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
