<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Browse your Games</title>
</head>
<body>
    
    <p> The games that match your search are:</p>

    {% if games %}

    <ul>
    {% for games in games %}
        
        <li> {{games.name}} </li>
    
    {% endfor %}
    
    </ul>

    {% else %}
    <p>No matches for the description</p>

    {% endif %}

    <p style="color: red;">{{ answer }} </p>

</body>
</html>